@(message: String)

@main("Crime In City Of Chicago") {


    <h1 id="logo">Crimes in the City of Chicago</h1>
    <p id="abstract">Incidents of crime that occurred in the City of Chicago from 2012 to 2017, from the Chicago Police Department's CLEAR (Citizen Law Enforcement Analysis and Reporting) system</p>

    <button id="introBtn" class="button">Introduction</button>

    <div id="myModal" class="modal", style="text-align:center; font-family: Papyrus; font-size: 32px; color: dimgray">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2 id="title" style="font-size: 64px; font-weight: bolder">Introduction</h2>
            </div>
            <div class="modal-body">
                <p id = "intro-text">Welcome To Statistical Bureau, as your guide, I am are going to present the crimes conducted in the City of Chicago from 2012 to 2017.</p>
            </div>
            <div class="modal-footer">
                <button id="nextBtn" class="button">Next</button>
            </div>
        </div>
    </div>

    <hr>
    <hr>
    <hr>
    <p id="trendChart">Crime Conducted Monthly</p>
    <script>
            function drawTrendLine() {
                // Set the dimensions of the canvas / graph
                var margin = {top: 40, right: 50, bottom: 40, left: 50},
                        width = 700 - margin.left - margin.right,
                        height = 300 - margin.top - margin.bottom;

// Parse the date / time
                var parseDate = d3.time.format("%Y-%m").parse,
                        formatDate = d3.time.format("%Y-%m"),
                        bisectDate = d3.bisector(function (d) {
                            return d.yearMonth;
                        }).left;

// Set the ranges
                var x = d3.time.scale().range([0, width]);
                var y = d3.scale.linear().range([height, 0]);

// Define the axes
                var xAxis = d3.svg.axis().scale(x)
                        .orient("bottom").ticks(5);

                var yAxis = d3.svg.axis().scale(y)
                        .orient("left").ticks(5);

// Define the line
                var valueline = d3.svg.line()
                        .x(function (d) {
                            return x(d.yearMonth);
                        })
                        .y(function (d) {
                            return y(d.numCrimes);
                        });

// Adds the svg canvas
                var svg = d3.select("body")
                        .append("div")
                        .style("text-align", "center")
                        .style("font-size", "18px")
                        .style("font-family", "Papyrus")
                        .style("text-decoration", "underline")
                        .append("svg")
                        .attr("width", width + margin.left + margin.right)
                        .attr("height", height + margin.top + margin.bottom)
                        .append("g")
                        .attr("transform",
                                "translate(" + margin.left + "," + margin.top + ")");

                var lineSvg = svg.append("g");

                var focus = svg.append("g")
                        .style("display", "none");

// Get the data
                d3.csv("https://raw.githubusercontent.com/hph29/data-visualization/master/public/javascripts/stats.csv", function (data) {                 // **********
                    data.forEach(function (d) {
                        d.yearMonth = parseDate(d.yearMonth);
                        d.numCrimes = +d.numCrimes;
                    });

                    // Scale the range of the data
                    x.domain(d3.extent(data, function (d) {
                        return d.yearMonth;
                    }));
                    y.domain([0, d3.max(data, function (d) {
                        return d.numCrimes;
                    })]);

                    // Add the valueline path.
                    lineSvg.append("path")
                            .attr("class", "line")
                            .attr("d", valueline(data));

                    // Add the X Axis
                    svg.append("g")
                            .attr("class", "x axis")
                            .attr("transform", "translate(0," + height + ")")
                            .call(xAxis);

                    // Add the Y Axis
                    svg.append("g")
                            .style("font-size", "10px")
                            .attr("class", "y axis")
                            .call(yAxis);

                    // append the x line
                    focus.append("line")
                            .attr("class", "x")
                            .style("stroke", "gray")
                            .style("stroke-dasharray", "3,3")
                            .style("opacity", 0.5)
                            .attr("y1", 0)
                            .attr("y2", height);

                    // append the y line
                    focus.append("line")
                            .attr("class", "y")
                            .style("stroke", "gray")
                            .style("stroke-dasharray", "3,3")
                            .style("opacity", 0.5)
                            .attr("x1", width)
                            .attr("x2", width);

                    // append the circle at the intersection
                    focus.append("circle")
                            .attr("class", "y")
                            .style("fill", "none")
                            .style("stroke", "gray")
                            .attr("r", 4);

                    // place the value at the intersection
                    focus.append("text")
                            .attr("class", "y1")
                            .style("stroke", "white")
                            .style("stroke-width", "3.5px")
                            .style("opacity", 0.8)
                            .attr("dx", 8)
                            .attr("dy", "-.3em");
                    focus.append("text")
                            .attr("class", "y2")
                            .attr("dx", 8)
                            .attr("dy", "-.3em");

                    // place the date at the intersection
                    focus.append("text")
                            .attr("class", "y3")
                            .style("stroke", "white")
                            .style("stroke-width", "3.5px")
                            .style("opacity", 0.8)
                            .attr("dx", 8)
                            .attr("dy", "1em");
                    focus.append("text")
                            .attr("class", "y4")
                            .attr("dx", 8)
                            .attr("dy", "1em");

                    // append the rectangle to capture mouse
                    svg.append("rect")
                            .attr("width", width)
                            .attr("height", height)
                            .style("fill", "none")
                            .style("pointer-events", "all")
                            .on("mouseover", function () {
                                focus.style("display", null);
                            })
                            .on("mouseout", function () {
                                focus.style("display", "none");
                            })
                            .on("mousemove", mousemove);

                    function mousemove() {
                        var x0 = x.invert(d3.mouse(this)[0]),
                                i = bisectDate(data, x0, 1),
                                d0 = data[i - 1],
                                d1 = data[i],
                                d = x0 - d0.date > d1.date - x0 ? d1 : d0;

                        focus.select("circle.y")
                                .attr("transform",
                                        "translate(" + x(d.yearMonth) + "," +
                                        y(d.numCrimes) + ")");

                        focus.select("text.y1")
                                .attr("transform",
                                        "translate(" + x(d.yearMonth) + "," +
                                        y(d.numCrimes) + ")")
                                .text("Number of Crimes: " + d.numCrimes);

                        focus.select("text.y2")
                                .attr("transform",
                                        "translate(" + x(d.yearMonth) + "," +
                                        y(d.numCrimes) + ")")
                                .text("Number of Crimes: " + d.numCrimes);

                        focus.select("text.y3")
                                .attr("transform",
                                        "translate(" + x(d.yearMonth) + "," +
                                        y(d.numCrimes) + ")")
                                .text("At: " + formatDate(d.yearMonth));

                        focus.select("text.y4")
                                .attr("transform",
                                        "translate(" + x(d.yearMonth) + "," +
                                        y(d.numCrimes) + ")")
                                .text("At: "+ formatDate(d.yearMonth));

                        focus.select(".x")
                                .attr("transform",
                                        "translate(" + x(d.yearMonth) + "," +
                                        y(d.numCrimes) + ")")
                                .attr("y2", height - y(d.numCrimes));

                        focus.select(".y")
                                .attr("transform",
                                        "translate(" + width * -1 + "," +
                                        y(d.numCrimes) + ")")
                                .attr("x2", width + width);
                    }

                });

                var annotations = [
                    {
                        "cx": 55,
                        "cy": 3,
                        "r": 10,
                        "text": "Historical highest point at Jul, 2012",
                        "textWidth": 140,
                        "textOffset": [
                            15,
                            120
                        ]
                    },
                    {
                        "cx": 363,
                        "cy": 111,
                        "r": 10,
                        "text": "Historical lowest point at Feb, 2015",
                        "textWidth": 140,
                        "textOffset": [
                            30,
                            30
                        ]
                    }
                ];

                var ringNote = d3.ringNote()
                        .draggable(true);

                svg.append("g")
                        .attr("class", "annotations")
                        .style("font-size","20px")
                        .call(ringNote, annotations)
                        .selectAll(".annotation circle")
                        .style("fill", "none");

            }
            drawTrendLine();
    </script>

    <hr>
    <hr>
    <div id="pieChart"></div>
    <hr>
    <hr>
    <div id="pieChart2"></div>
    <script>
            function pieChart(id, data, metadata) {

                var width = 700 , height = 350 , radius = 125 ,
                        color = ["#3f3f3f","#7f7f7f"];

                var colorDescriptions = [];

                var svgContainer = d3.select("body") // create svg container
                        .append("svg:svg")
                        .style("display", "block")
                        .style("margin", "auto")
                        .style("text-align", "center")
                        .style("font-family", "Papyrus")
                        .data([data])
                        .attr("width", width)
                        .attr("height", height)
                        .append("svg:g")
                        .attr("transform", "translate(" + 250 + "," + 150 + ")") ;;

                var arc = d3.svg.arc() // draw arc of given radius
                        .outerRadius(radius);

                var pie = d3.layout.pie() // assign data for pie chart
                        .value(function(d) { return d.value; });

                var arcs = svgContainer.selectAll("g.slice") // slice the circle
                        .data(pie)
                        .enter()
                        .append("svg:g")
                        .attr("class", "slice");

                arcs.append("svg:path") // fill color in each slice
                        .style("fill", function(d, i) {
                            var colorSelected =  color[i];
                            colorDescriptions.push({"colorSelected": colorSelected, "label": data[i].label});
                            return colorSelected; } )
                        .attr("d", arc);

                arcs.append("svg:text") // write slice information values
                        .attr("transform", function(d) {
                            d.innerRadius = 0;
                            d.outerRadius = radius;
                            return "translate(" + arc.centroid(d) + ")";
                        })
                        .attr("text-anchor", "middle")
                        .text(function(d, i) { return data[i].value + '\n' + "("
                                + Math.round((data[i].value / [data[0].value + data[1].value].reduce((a, b) => a + b, 0)) * 100) + "%)"; })
                        .style("fill", "#cfcfcf")
                        .style("font-size", "14px");

                descriptionText = "Pie Chart of " + metadata.x + " with " + metadata.y; // pie chart description

                var description = svgContainer.append("g").attr("class", "description"); // pie chart description
                var desc_label = description.append("text")
                        .attr("class", "description")
                        .attr("x", 80)
                        .attr("y", -135)
                        .text(descriptionText)
                        .style("font-weight", "bold")
                        .style("font-size", "20px")
                        .style("text-anchor", "middle");

                var pieChartLabels = svgContainer.append("g").attr("id","pie-chart-labels");   //index for pie chart : name
                pieChartLabels.selectAll("text").data(colorDescriptions).enter().append("svg:text")
                        .text(function(d) { return d.label; } ).attr("x",280)
                        .attr("y",function(d, i) { return 14 + i*30; })
                        .style("font-size", "20px");

                var pieChartLabelsColors = svgContainer.append("g").attr("id","pie-chart-labels-colors");
                pieChartLabelsColors.selectAll("rect").data(colorDescriptions).enter().append("rect")
                        .attr("x",250)
                        .attr("y",function(d, i) { return i*30; })
                        .attr("width", 25)
                        .attr("height", 15)
                        .style("fill" , function(d) { return d.colorSelected; }); //index for pie chart : color

            }

            var metadata = {
                'x' : 'Type' ,
                'y' : 'Number of Crimes' };

            // define data
            var data = [
                {label: "Domestic Crimes", value: 220054},
                {label: "Non-domestic Crimes", value: 1236660}
            ];


            var metadata2 = {
                'x' : 'Serving a prison sentence' ,
                'y' : 'Number of Criminals' };

            // define data
            var data2 = [
                {label: "Serving sentences", value: 377472},
                {label: "Liberated", value: 1079242}
            ];

            pieChart("#pieChart", data, metadata);
            pieChart("#pieChart2", data2, metadata2);

    </script>

    <button id="aboutBtn" class="button">About the Visualization</button>
    <script src="@routes.Assets.at("javascripts/hello.js")"></script>

}
