@(message: String)

@main("Crime In City Of Chicago") {


    <h1 id="logo">Crimes in the City of Chicago</h1>
    <p id="abstract">Incidents of crime that occurred in the City of Chicago from 2012 to 2017, from the Chicago Police Department's CLEAR (Citizen Law Enforcement Analysis and Reporting) system</p>

    <button id="introBtn" class="button">Introduction</button>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Introduction</h2>
            </div>
            <div class="modal-body">
                <p id = "intro-text">p1</p>
            </div>
            <div class="modal-footer">
                <button id="nextBtn" class="button">Next</button>
            </div>
        </div>
    </div>


    <script src="@routes.Assets.at("javascripts/hello.js")"></script>
    <script src="@routes.Assets.at("javascripts/trendline.js")"></script>
}
