@(message: String)

@main("Crime In City Of Chicago") {


    <h1 id="logo">Crimes in the City of Chicago</h1>
    <p id="abstract">Incidents of crime that occurred in the City of Chicago from 2012 to 2017, from the Chicago Police Department's CLEAR (Citizen Law Enforcement Analysis and Reporting) system</p>

    <button id="introBtn" class="button">Introduction</button>

    <div id="myModal" class="modal", style="text-align:center; font-family: Papyrus; font-size: 32px; color: dimgray">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2 id="title" style="font-size: 64px; font-weight: bolder">Introduction</h2>
            </div>
            <div class="modal-body">
                <p id = "intro-text">Welcome To Statistical Bureau, as your guide, I am are going to present the crimes conducted in the City of Chicago from 2012 to 2017.</p>
            </div>
            <div class="modal-footer">
                <button id="nextBtn" class="button">Next</button>
            </div>
        </div>
    </div>

    <hr>
    <hr>
    <hr>
    <p id="trendChart">Crime Conducted Monthly</p>
    <script src="@routes.Assets.at("javascripts/trendline.js")"></script>

    <hr>
    <hr>
    <div id="pieChart"></div>
    <hr>
    <hr>
    <div id="pieChart2"></div>
    <script src="@routes.Assets.at("javascripts/piechart.js")"></script>

    <button id="aboutBtn" class="button">About the Visualization</button>
    <script src="@routes.Assets.at("javascripts/hello.js")"></script>

}
